.bullets {
    &__list {
        background: url(images/background-02.png);
        background-size: cover;
        border-radius: var(--size-sm);
        
        width: 100%;
        gap: var(--size-sm);

        display: grid;
        padding: var(--size-sm);

        @include md {
            padding: var(--size-xxl) var(--size-sm);
            grid-template-columns: repeat(2, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__number {
        font-size: var(--size-xxl);
        margin-left: auto;
        color: var(--color-bright);
        line-height: 1;
        font-weight: 700;
    }

    &__item {
        position: relative;
        border: 4px solid var(--color-bright);
        width: 100%;
        overflow: hidden;
        border-radius: var(--size-sm);
        padding: var(--size-sm);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--size-sm);

    }

    &__text {
        font-size: var(--size-sm);
        z-index: 3;
        position: relative;
        font-weight: 700;
    }

    &__background-fillter {
        position: absolute;
        inset: -100%;


        background-color: rgba(255, 255, 255, 0.01);

        -webkit-backdrop-filter: blur(6px);

        backdrop-filter: blur(6px);



    }
}