.bullets {
    &__list {
        background: url(images/background-02.png);
        background-size: cover;
        border-radius: var(--size-sm);
        padding: var(--size-xl) var(--size-sm);
        width: 100%;
    }
    &__item {
        position: relative;
        width: 100%;
    }

    &__background-fillter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* Texture Size 1.7 + Radius 29 через SVG noise */
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.17' numOctaves='3' stitchTiles='stitch'/%3E%3CfeGaussianBlur stdDeviation='0.29'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");

        /* Background Blur Uniform 1 */
        backdrop-filter: blur(1px);

        mix-blend-mode: soft-light;
        pointer-events: none;
    }
}
