.hero2 {
    background-color: var(--color-bright);
    padding-top: calc((1vh + 1vw) * 8);
    padding-bottom: calc((1vh + 1vw) * 6);

    &__headline {
        color: var(--color-main);
        font-size: 4.2vw;
        text-align: center;
    }

    &__grid {
        display: grid;
        gap: var(--size-sm);
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        height: 50vh;
        position: relative;
        border-radius: var(--size-sm);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: var(--size-sm);
        gap: var(--size-sm);

        &--gradient {
            background: url(./images/hero-bg-1.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--image {
            background: url(./images/hero-bg-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: flex-start;
            border: 1px solid #000;
        }
        @include md {
             height: 70vh;
        }
    }

    /* Frame 2569 */




    &__bg-elements {
        position: absolute;
        transform: translate(20%, -20%) rotate(40deg);
        width: 100%;
        top: 0
    }

    &__description {
        font-size: var(--size-md);
        font-weight: 700;
        line-height: 1.1;
    }

    &__button {
        display: flex;
        span {
            display: inline-flex;
            align-items: center;
            background-color: #000;
            font-size: var(--size-sm);
            border-radius: 10pc;
            width: max-content;
            padding: 0 var(--size-xs);
            height: var(--size-xl);
            font-weight: 700;
        }
    }

    &__arrow {
        aspect-ratio: 1;
        position: relative;

        img {
            position: absolute;
            width: 50%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--size-xxs);
        border-radius: 10pc;
        background-color: rgba(0, 0, 0, 0.2);
        padding: var(--size-sm);
        text-transform: uppercase;
        font-weight: 700;
        font-size: var(--size-xs);
        text-align: center;
        color: #000;
         border: 1px solid #fff;

        &--variant {
            background-color: rgba(1, 66, 196, 0.2);
        }

        * {
            color: #000;
            font-weight: 700;
            font-size: var(--size-xs);
        }
        @include md {
             font-size: var(--size-xxs);
            * {
                font-size: var(--size-xxs);
            }
        }
    }
}

.hero {
    color: var(--color-bright);
    margin-top: calc(var(--size-sm) * 5);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // min-height: 70vh;
        gap: var(--size-sm);
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--size-xs);
        gap: var(--size-xxxs);
        text-transform: uppercase;
        font-weight: 600;

        @include sm {
            gap: var(--size-sm);
            flex-direction: row;
        }
    }

    &__description {
        font-weight: 200;
        font-size: var(--size-xs);
        margin-top: var(--size-sm);
        text-align: center;
    }

    &__headline {
        color: var(--color-bright);
        font-size: 4vw;
        margin-bottom: 0;
        text-align: center;
    }

    &__button {
        margin-top: var(--size-sm);
    }
}
