:root {
    // colors
    --color-main: #0142C4;
    --color-grey: #e4e4e4;
    --color-bright: #fff;
    --color-dark: #000;
    --color-red: #B41313;

    // sizes
    --size-xxxs: calc((1vw + 1vh) * .4);
    --size-xxs: calc((1vw + 1vh) * .6);
    --size-xs: calc((1vw + 1vh) * .8);
    --size-sm: calc((1vw + 1vh) * 1);
    --size-md: calc((1vw + 1vh) * 1.2);
    --size-lg: calc((1vw + 1vh) * 2);
    --size-xl: calc((1vw + 1vh) * 2.5);
    --size-xxl: calc((1vw + 1vh) * 5);
    --size-xxxl: calc((1vw + 1vh) * 10);
}