.tagline {
    position: relative;
    padding-top: var(--size-xxl);
    padding-bottom: var(--size-xxl);

    &--bg {
        background-color: #222;
    }

    &__headline {
        margin: 0;
        font-size: 4.8vw;
        text-align: center;

        @include sm {
            font-size: 5vw;
        }

        @include md {
            font-size: 5.2vw;
        }
    }

    &__background {
        position: absolute;
        left: -30%;
        right: -30%;
        width: 160vw;
        transform: translateY(-10%);

        @include sm {
            left: -10%;
            right: -10%;
            width: 120vw;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
    }

    &__item {
        font-size: var(--size-sm);

        font-family: Second;
        color: var(--color-bright);
        width: 100%;

        @include md {
            width: 70vw;
        }

        &--small {
            font-size: var(--size-xs);
        }

        &--large {
            font-size: 3vw;
            width: 100%;
        }

        &--right {
            margin-left: auto;
            text-align: right;
        }
    }
}