.tagline {

    position: relative;

    &__headline {
        margin: 0;
    }

    &__background {
        position: absolute;
        left: -30%;
        right: -30%;
        width: 160vw;
        transform: translateY(-10%);

        @include sm {
            left: -10%;
            right: -10%;
            width: 120vw;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
    }

    &__item {
        font-size: var(--size-sm);

        font-family: Second;
        color: var(--color-bright);
        width: 70vw;

        &--small {
            font-size: var(--size-xs);
        }

        &--right {
            margin-left: auto;
            text-align: right;
        }
    }
}