.why {
    background-color: #222222;
    padding-top: var(--size-xxl);
    padding-bottom: var(--size-xxl);

    &__headline {
        font-size: var(--size-md);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--size-xxs);
    }

    &__grid {



        @include md {
            display: grid;
            gap: var(--size-xxs);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border-radius: var(--size-sm);
        gap: var(--size-xxs);
        font-size: var(--size-xs);

        &--img {
            min-height: 300px;
            order: -1;

            @include md {
                order: 0;
            }
        }

        &--slider {
            /* Показываем слайдер только на mobile */
            display: block;
            height: 300px;
            margin-top: var(--size-sm);
            /* Высота слайдов */

            @include md {
                display: none;
                /* Скрываем слайдер на desktop */
            }
        }

        &--list {
            /* Скрываем список на mobile */
            display: none;

            @include md {
                display: flex;
                /* Показываем список на desktop */
            }
        }

        * {
            color: #222;
        }
    }

    &__bg {
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__element {
        border-radius: var(--size-md);
        background-color: #fff;
        padding: var(--size-xxs) var(--size-sm);
        color: #222;
        min-height: 300px;
        display: flex;
        align-items: center;
        font-size: var(--size-sm);

        @include md {
            
            min-height: auto;
            display: block;
            font-size: var(--size-xxs);
        }

        * {
            font-weight: 700;
        }

        &--blue {
            color: #fff;
            background-color: var(--color-main);
        }

        &--grey {
            color: #fff;
            background-color: #B0B0B0;
        }
    }

    &__name {
        text-transform: uppercase;
        color: var(--color-second);
        font-weight: 700;
    }

    /* Стили для Swiper */
    &__slide {
        height: 300px;
        display: flex;
        align-items: center;
    }
}